{% block oney_payment_choice_row %}
    {% set data = oney_simulation_data() %}
    {% import "@SyliusShop/shared/macro/money.html.twig" as money %}

    <div class="oney-payment-choice__container">
        <div class="oney-payment-choice__tab">
            {% for keyChoice, choice in form.vars.choices %}
                <a class="tablink" href="javascript:void(0);" data-id="{{ choice.value }}">
                    <img class="oney-payment__image" src="{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/' ~ choice.value ~ '.svg') }}">
                    {% if choice.value|split('oney_')|last not in constant('PayPlug\\SyliusPayPlugPlugin\\Gateway\\OneyGatewayFactory::ONEY_WITHOUT_FEES_CHOICES') %}
                        <img class="oney-payment__image" src="{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/logo.svg') }}">
                    {% endif %}
                    <p>{{ ('payplug_sylius_payplug_plugin.ui.' ~ choice.value ~ '_payment')|trans }}</p>
                </a>
            {% endfor %}
        </div>
        {% for keyChoice, choice in form.vars.choices %}
            {% if data is not empty %}
                {% set nx_with_fees = (choice.value|split('_', 2))[1] %}
                {% set grand_total = data[nx_with_fees]['down_payment_amount'] %}
            {% endif %}
            <div class="oney-payment-choice__item oney-payment-choice__item--{{ choice.value }}" id="{{ choice.value }}">
                <input
                    type="radio"
                    value="{{ choice.value }}"
                    data-action="live#$render"
                    id="oney_choice_{{ keyChoice }}"
                    name="{{ form.vars.full_name }}"
                    class="oney-payment-choice__input payment-choice__input"
                    {% if form.vars.value is not empty %}
                        {{ form.vars.value == choice.value ? 'checked="checked"' : '' }}
                    {% elseif loop.index is same as(1) %}
                        checked="checked"
                    {% endif %}
                >
                <label for="oney_choice_{{ keyChoice }}" class="oney-payment-choice__label">
                    <span class="oney-payment-choice__header">
                            <img class="oney-payment__image" src="{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/' ~ choice.value ~ '.svg') }}">
                            {% if choice.value|split('oney_')|last not in constant('PayPlug\\SyliusPayPlugPlugin\\Gateway\\OneyGatewayFactory::ONEY_WITHOUT_FEES_CHOICES') %}
                                <img class="oney-payment__image" src="{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/logo.svg') }}">
                            {% endif %}
                        <p>{{ ('payplug_sylius_payplug_plugin.ui.' ~ choice.value ~ '_payment')|trans }}</p>
                    </span>
                    {% if data is not empty %}
                        <span class="oney-payment-choice__content">
                            <p><span><strong>{{ 'payplug_sylius_payplug_plugin.ui.payment_choice.current_total'|trans }} : </strong></span><span><strong>{{ money.convertAndFormat(data['current_total']) }}</strong></span></p>
                            <p>
                                <span>{{ 'payplug_sylius_payplug_plugin.ui.payment_choice.down_payment_amount'|trans }} : </span><span><strong>{{ money.convertAndFormat(data[nx_with_fees]['down_payment_amount']) }}</strong></span>
                                {% if data[nx_with_fees]['total_cost'] > 0 %}
                                    <small>({{ 'payplug_sylius_payplug_plugin.ui.payment_choice.total_cost'|trans }} : <strong>{{ money.convertAndFormat(data[nx_with_fees]['total_cost']) }}</strong> {{ 'payplug_sylius_payplug_plugin.ui.payment_choice.effective_annual_percentage_rate'|trans }} : <strong>{{ data[nx_with_fees]['effective_annual_percentage_rate'] ~ '%' }}</strong>)</small>
                                {% endif %}
                            </p>
                            {% for key, installment in data[nx_with_fees]['installments'] %}
                                {% set grand_total = grand_total + installment['amount'] %}
                                <p><span>{{ 'payplug_sylius_payplug_plugin.ui.payment_choice.installment_amount'|trans }} {{ key + 1 }} :</span><span><strong>{{ money.convertAndFormat(installment.amount) }}</strong></span></p>
                            {% endfor %}
                            {% if data[nx_with_fees]['total_cost'] > 0 %}
                                <p><span><strong>{{ 'payplug_sylius_payplug_plugin.ui.payment_choice.grand_total'|trans }} :</strong></span><span><strong>{{ money.convertAndFormat(grand_total) }}</strong></span></p>
                            {% else %}
                                <p class="oney-without-fees-financing">{{ 'payplug_sylius_payplug_plugin.ui.payment_choice.total_cost'|trans }} : <strong>{{ money.convertAndFormat(data[nx_with_fees]['total_cost']) }}</strong> {{ 'payplug_sylius_payplug_plugin.ui.payment_choice.effective_annual_percentage_rate'|trans }} : <strong>{{ data[nx_with_fees]['effective_annual_percentage_rate'] ~ '%' }}</strong></p>
                            {% endif %}
                        </span>
                    {% endif %}
                </label>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block payplug_saved_cards %}
    <div class="payplug-payment-choice__container">
        {% for card in sylius.customer.cards %}
            {% set cardExpirationDate = ("%04d"|format(card.expirationYear) ~ '-' ~ "%02d"|format(card.expirationMonth))|date("Y-m") %}
            {% if cardExpirationDate >= "now"|date("Y-m") %}
                <div class="payplug-payment-choice__item payplug-payment-choice__item--card-{{ card.id }}" id="card-{{ card.id }}">
                    <input type="radio"
                           value="{{ card.id }}"
                           id="payplug_choice_card_{{ card.id }}"
                           name="{{ form.vars.full_name }}"
                           class="payplug-payment-choice__input payment-choice__input"
                        {% if form.vars.value is not empty %}
                            {{ form.vars.value == card.id ? 'checked="checked"' : '' }}
                        {% elseif loop.index is same as(1) %}
                            checked="checked"
                        {% endif %}
                    >
                    <label for="payplug_choice_card_{{ card.id }}" class="payplug-payment-choice__label">
                        <span class="payplug-payment-choice__header">
                            <span class="card-type">{{ card.brand|e }} ****{{ card.last4|e }}</span>
                            <span class="card-expiry">{{ ('payplug_sylius_payplug_plugin.ui.card_expires_on')|trans }} <span>{{ "%02d"|format(card.expirationMonth) ~ '/' ~ "%04d"|format(card.expirationYear) }}</span></span>
                        </span>
                    </label>
                </div>
            {% endif %}
        {% endfor %}
        <div class="payplug-payment-choice__item payplug-payment-choice__item--card-other" id="card-other">
            <input type="radio"
                   value="other"
                   id="payplug_choice_card_other"
                   name="{{ form.vars.full_name }}"
                   class="payplug-payment-choice__input payment-choice__input"
                {% if form.vars.value is not empty %}
                    {{ form.vars.value == 'other' ? 'checked="checked"' : '' }}
                {% elseif sylius.customer.cards is empty %}
                    checked="checked"
                {% endif %}
            >
            <label for="payplug_choice_card_other" class="payplug-payment-choice__label">
                <span class="payplug-payment-choice__header">{{ ('payplug_sylius_payplug_plugin.ui.pay_with_another_card')|trans }}</span>
            </label>
        </div>
    </div>
{% endblock %}

{% block _sylius_shop_checkout_select_payment_payments_entry_payplug_card_choice_row %}
    {{ block('payplug_saved_cards') }}
{% endblock %}

{% block _sylius_checkout_select_payment_payments_entry_payplug_card_choice_row %}
    {{ block('payplug_saved_cards') }}
{% endblock %}
