{% block _sylius_payment_method_gatewayConfig_config_secretKey_row %}
    <div class="{% if required %}required {% endif %}field{% if (not compound or force_error|default(false)) and not valid %} error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        <span style="font-size: 0.8rem; font-style: italic">
            {{- form_help(form) -}}
        </span>
        {{- form_errors(form) -}}
    </div>
{% endblock %}

{% block _sylius_payment_method_gatewayConfig_config_cgv_added_label -%}
    <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
    </{{ element|default('label') }}>
{%- endblock %}

{% block _sylius_checkout_select_payment_payments_entry_oney_payment_choice_row %}
    <script type="text/javascript" src="{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/payment/index.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/payment/index.css') }}">

    <div class="oney-payment-choice__container">
        {% for keyChoice, choice in form.vars.choices %}
            <div class="oney-payment-choice__item oney-payment__item--{{ choice.value }}" id="{{ choice.value }}">
                <input
                    type="radio"
                    value="{{ choice.value }}"
                    id="oney_choice_{{ keyChoice }}"
                    name="{{ form.vars.full_name }}"
                    class="oney-payment-choice__input"
                    {{ loop.index is same as(1) ? "checked" : "" }}
                >
                <label for="oney_choice_{{ keyChoice }}" class="oney-payment-choice__label">
                    <img class="oney-payment__image" src="{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/' ~ choice.label ~ '.svg') }}">
                    <img class="oney-payment__image" src="{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/logo.svg') }}">
                </label>
            </div>
        {% endfor %}
    </div>
{% endblock %}
