{% block _sylius_payment_method_gatewayConfig_config_secretKey_row %}
    <div class="{% if required %}required {% endif %}field{% if (not compound or force_error|default(false)) and not valid %} error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        <span style="font-size: 0.8rem; font-style: italic">
            {{- form_help(form) -}}
        </span>
        {{- form_errors(form) -}}
    </div>
{% endblock %}

{% block _sylius_payment_method_gatewayConfig_config_cgv_added_label -%}
    <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {{- label|trans(label_translation_parameters, translation_domain) | raw -}}
    </{{ element|default('label') }}>
{%- endblock %}

{% block _sylius_checkout_select_payment_payments_entry_oney_payment_choice_row %}
    {# TODO : better form rendering #}
    {{ form_row(form) }}
{% endblock %}
