{% set form = hookable_metadata.context.form %}
{% set method = hookable_metadata.context.method %}
{% set order = hookable_metadata.context.order %}

{% set applePaySettings = {
    'countryCode': sylius.channel.defaultLocale.code|length == 2 ? sylius.channel.defaultLocale.code : sylius.channel.defaultLocale.code|slice(3, 2),
    'currencyCode': sylius.channel.baseCurrency.code,
    'merchantCapabilities': ['supports3DS'],
    'supportedNetworks': ['visa', 'mastercard'],
    'total': {
        'label': '',
        'type': 'final',
        'amount': (order is not null ? order.total / 100 : 0)
    },
    'applePayDomain': sylius.channel.hostname
} %}

<div
    {{ stimulus_controller('@payplug/sylius-payplug-plugin/apple-pay', {
        'paymentInputId': form.vars.id,
        'settings': applePaySettings
    })|stimulus_controller('@payplug/sylius-payplug-plugin/payment-logo', {
        'inputId': form.vars.id,
        'logoUrl': asset('bundles/payplugsyliuspayplugplugin/assets/apple-pay/logo.svg'),
        'className': 'apple-pay-label'
    }) }}
    data-payment-inline-submit="true"
>
    <script src="https://applepay.cdn-apple.com/jsapi/1.latest/apple-pay-sdk.js"></script>
    <apple-pay-button id="payplug-applepay-btn"
                      buttonstyle="black"
                      type="pay"
                      locale="{{ app.request.locale }}"
                      data-validate-merchant-route="{{ path('payplug_shop_checkout_apple_prepare', {'orderId': order.id}) }}"
                      data-payment-authorized-route="{{ path('payplug_shop_checkout_apple_confirm', {'orderId': order.id}) }}"
                      data-session-cancel-route="{{ path('payplug_shop_checkout_apple_cancel', {'orderId': order.id}) }}"
    ></apple-pay-button>
</div>
