{% set form = hookable_metadata.context.form %}
{% set method = hookable_metadata.context.method %}
{% set order = hookable_metadata.context.order %}
{% set factoryName = method.gatewayConfig.factoryName %}
{% set code = method.code %}

{% set oneyFactoryName = constant('PayPlug\\SyliusPayPlugPlugin\\Gateway\\OneyGatewayFactory::FACTORY_NAME') %}
{% set checkboxClass = 'checkbox-oney' %}

{% set showOney = false %}
{% if form.parent.parent.oney_payment_choice is defined %}
    {% set showOney = true %}
{% endif %}

{% set values = {
    modal: '.oney-complete-info-popin',
    area: 'body[data-route=sylius_shop_checkout_select_payment]'
} %}

{% if app.session is not null and app.session.flashbag.get('oney_has_error')|first is same as true %}
    {% set completeInfoRoute = {route: path('payplug_sylius_oney_complete_info') ~ '?tokenValue=' ~ order.tokenValue} %}
    {% set values = values|merge(completeInfoRoute) %}
{% endif %}

<div
    class="content"
    {{ stimulus_controller('@payplug/sylius-payplug-plugin/oney-payment', values) }}
>
    <a class="header">
        {% if factoryName == oneyFactoryName %}
            <label for="{{ form.vars.id }}" data-test-payment-method-label="" data-gateway="oney">
                {% if ((form.parent.parent.oney_payment_choice.vars.choices|last).value|split('oney_')|last) not in constant('PayPlug\\SyliusPayPlugPlugin\\Gateway\\OneyGatewayFactory::ONEY_WITHOUT_FEES_CHOICES') %}
                    <img src="{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/3x4x.svg') }}" class="oney-logo" alt="Oney"/>
                {% else %}
                    <img src="{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/3x4x-without-fees.svg') }}" class="oney-logo" alt="Oney Sans Frais"/>
                {% endif %}
            </label>
        {% endif %}
    </a>

    {% if showOney %}
        <div
            class="payment-method-choice oney-payment-choice"
            {{ stimulus_target('@payplug/sylius-payplug-plugin/checkout-select-payment', 'trigger') }}
            data-payment-input-id="{{ form.vars.id }}"
        >
            {{ form_row(form.parent.parent.oney_payment_choice) }}
        </div>
    {% endif %}
</div>

