{% import "@SyliusAdmin/Common/Macro/money.html.twig" as money %}
{% import '@SyliusUi/Macro/labels.html.twig' as label %}

<div class="item">
    <div class="right floated content">
        {{ label.default(('sylius.ui.' ~ payment.state)|trans) }}
    </div>
    <i class="large payment icon"></i>
    <div class="content">
        <div class="header">
            {{ payment.method }}
        </div>
        <div class="description">
            {{ money.format(payment.amount, payment.order.currencyCode) }}
        </div>
    </div>
    <br/>
    {% if payment.method.gatewayConfig.factoryName in [constant('\\PayPlug\\SyliusPayPlugPlugin\\Gateway\\PayPlugGatewayFactory::FACTORY_NAME'), constant('\\PayPlug\\SyliusPayPlugPlugin\\Gateway\\OneyGatewayFactory::FACTORY_NAME')] or payment.method.gatewayConfig.factoryName == constant('\\PayPlug\\SyliusPayPlugPlugin\\Gateway\\BancontactGatewayFactory::FACTORY_NAME') or payment.method.gatewayConfig.factoryName == constant('\\PayPlug\\SyliusPayPlugPlugin\\Gateway\\ApplePayGatewayFactory::FACTORY_NAME') or payment.method.gatewayConfig.factoryName == constant('\\PayPlug\\SyliusPayPlugPlugin\\Gateway\\AmericanExpressGatewayFactory::FACTORY_NAME') and payment.details.payment_id is defined %}
        <div class="ui" style="word-break: break-word">
            {{ 'payplug_sylius_payplug_plugin.ui.payplug_id'|trans({'%paymentId%': payment.details.payment_id|default('')}) }}
            {% if payment.method.gatewayConfig.factoryName == constant('\\PayPlug\\SyliusPayPlugPlugin\\Gateway\\OneyGatewayFactory::FACTORY_NAME') %}
                {% if payment.details.payment_method is defined %}
                    <br/>{{ ('payplug_sylius_payplug_plugin.admin.ui.' ~ payment.details.payment_method ~ '_payment')|trans }}
                {% endif %}
            {% endif %}
            {% if payment.details.is_live is defined and payment.details.is_live == false %}
                <br/><i>{{ 'payplug_sylius_payplug_plugin.ui.test_mode'|trans }}</i>
            {% endif %}
            {% if payment.details.failure is defined and payment.details.failure.message is defined %}
                <br/><i>{{ payment.details.failure.message }}</i>
            {% endif %}
        </div>
    {% endif %}
    {% if sm_can(payment, 'complete', 'sylius_payment') %}
        <div class="ui segment">
            <form action="{{ path('sylius_admin_order_payment_complete', {'orderId': order.id, 'id': payment.id}) }}" method="post" novalidate>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token(payment.id) }}"/>
                <input type="hidden" name="_method" value="PUT">
                <button type="submit" class="ui icon labeled tiny blue fluid loadable button"><i class="check icon"></i> {{ 'sylius.ui.complete'|trans }}</button>
            </form>
        </div>
    {% endif %}
</div>
