{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

{% if data is empty %}
    {% set data = ineligibilityData %}
    <div class="oney-popin__header">
        <a class="close" href="javascript:void(0);" title="{{ 'payplug_sylius_payplug_plugin.ui.popin_close'|trans }}">
            <span></span><span></span>
        </a>
    </div>
    <div class="oney-popin__content">
        {% for reason in data.reasons %}
            <p class="reasons">{{ reason|trans(data.trans_params) }}</p>
        {% else %}
            <p class="reasons">{{ 'payplug_sylius_payplug_plugin.ui.oney_unavailable'|trans }}</p>
        {% endfor %}
    </div>
{% else %}
    <div class="oney-popin__header">
        <a class="close" href="javascript:void(0);" title="{{ 'payplug_sylius_payplug_plugin.ui.popin_close'|trans }}">
            <span></span><span></span>
        </a>
    </div>
    <div class="oney-popin__content">
        <img src="{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/logo.svg') }}" alt="oney-logo"/>
        <p>
            {{ 'payplug_sylius_payplug_plugin.ui.pay'|trans }}
            {% if is_oney_without_fees() %}
                <u>{{ 'payplug_sylius_payplug_plugin.ui.without_fees'|trans }}</u>
            {% endif %}
        </p>
        <p><strong>{{ 'payplug_sylius_payplug_plugin.ui.by_credit_cart'|trans }}</strong></p>
        {% for key, choice in oney_supported_choices() %}
            <section class="section-{{ choice }}">
                <div>
                    <img
                        src="{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/' ~ (key + 3) ~ 'x.svg') }}"
                        alt="{{ ('payplug_sylius_payplug_plugin.ui.oney_x' ~ (key + 3) ~ '_with_fees_payment')|trans }}"
                    />
                </div>
                <div>
                    {{ 'payplug_sylius_payplug_plugin.ui.popin_paiement_desc'|trans({
                        '%apport%': money.convertAndFormat(data[choice]['down_payment_amount']),
                        '%nb_mensuality%': data[choice]['installments']|length,
                        '%mensuality%': money.convertAndFormat(data[choice]['installments'][0]['amount']),
                        '%cost%': money.convertAndFormat(data[choice]['total_cost']),
                        '%percentage%': data[choice]['effective_annual_percentage_rate']
                    })|raw }}
                </div>
            </section>
        {% endfor %}
        <div class="oney-popin__footer">
            <p>
                {{ (('payplug_sylius_payplug_plugin.ui.popin_legal_mention') ~ (is_oney_without_fees() ? '_without_fees' : ''))|trans({
                    '%min_amount%': money.convertAndFormat(data['min_amount']),
                    '%max_amount%': money.convertAndFormat(data['max_amount']),
                })|raw }}
            </p>
        </div>
    </div>
{% endif %}
