{% if is_oney_enabled() and can_show_mea() %}
    {% set logo_disabled = '3x4x-alt.svg' %}
    {% set logo_enabled = '3x4x.svg' %}
    {% if is_oney_without_fees() %}
        {% set logo_enabled = '3x4x-without-fees.svg' %}
        {% set logo_disabled = '3x4x-without-fees-alt.svg' %}
    {% endif %}
    {% if oney_product_eligible() %}
        {% set logo_name = logo_enabled %}
        {% if is_oney_without_fees() %}
            {% set logo_enabled = '3x4x-without-fees.svg' %}
        {% endif %}
    {% else %}
        {% set logo_name = logo_disabled %}
    {% endif %}
    <div class="oney-info">
        <span>{{ 'payplug_sylius_payplug_plugin.ui.or_pay_with_oney'|trans }}</span>
        <img src="{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/' ~ logo_name) }}" class="oney-logo" alt="oney-logo"/>
        <div class="ui inverted dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="oney-popin {% if oney_product_eligible() %}enabled{% else %}disabled{% endif %}"
             data-popin-url="{{ path('payplug_sylius_oney_simulation_popin') }}">
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('bundles/payplugsyliuspayplugplugin/assets/shop/oney_popin/index.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/payplugsyliuspayplugplugin/assets/shop/oney_popin/index.css') }}">
    <div id="payplug-product-variant-codes">
        {% for variantCodes in sylius_product_variant_codes(product, sylius.channel) %}
            <div {% for key, option in variantCodes %}data-{{ key }}="{{ option }}"{% endfor %}></div>
        {% endfor %}
    </div>
    <script type="text/javascript">//<![CDATA[
      {% autoescape 'js' %}
        var productMeta = {
          product_variant_code: "{{ (product|sylius_resolve_variant).code }}",
          url: "{{ path('payplug_sylius_oney_is_product_eligible') }}",
          img: {
            true: "{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/' ~ logo_enabled) }}",
            false: "{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/' ~ logo_disabled) }}",
          }
        }
        var translations = {
          reason: "{{ 'payplug_sylius_payplug_plugin.ui.oney_unavailable'|trans }}",
          close: "{{ 'payplug_sylius_payplug_plugin.ui.popin_close'|trans }}"
        }
      {% endautoescape %}
    //]]></script>
{% endif %}
