{% set form = hookable_metadata.context.form %}
{% set method = hookable_metadata.context.method %}
{% set order = hookable_metadata.context.order %}
{% set factoryName = method.gatewayConfig.factoryName %}
{% set code = method.code %}

{% set oneyFactoryName = constant('PayPlug\\SyliusPayPlugPlugin\\Gateway\\OneyGatewayFactory::FACTORY_NAME') %}
{% set checkboxClass = 'checkbox-oney' %}

{% set showOney = false %}
{% if form.parent.parent.oney_payment_choice is defined %}
    {% set showOney = true %}
{% endif %}

<div class="content">
    <a class="header">
        {% if factoryName == oneyFactoryName %}
            <label for="{{ form.vars.id }}" data-test-payment-method-label="" data-gateway="oney">
                {% if ((form.parent.parent.oney_payment_choice.vars.choices|last).value|split('oney_')|last) not in constant('PayPlug\\SyliusPayPlugPlugin\\Gateway\\OneyGatewayFactory::ONEY_WITHOUT_FEES_CHOICES') %}
                    <img src="{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/3x4x.svg') }}" class="oney-logo" alt="Oney"/>
                {% else %}
                    <img src="{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/3x4x-without-fees.svg') }}" class="oney-logo" alt="Oney Sans Frais"/>
                {% endif %}
            </label>
        {% endif %}
    </a>

    {% if showOney %}
        {# TODO: Remove that. It is in another hook
            <div class="oney-payment-choice payment-method-choice" data-payment-input-id="{{ form.vars.id }}">
                {{ form_row(form.parent.parent.oney_payment_choice) }}
            </div>#}
        {% if app.session is not null and app.session.get('oney_has_error') == true %}
            {# TODO: Move that in controller?#}
            <script type="text/javascript">
                /* <![CDATA[ */
                var completeInfoRoute = '{{ path("payplug_sylius_oney_complete_info") }}?tokenValue={{ order.tokenValue }}';
                /* ]] */
            </script>
        {% endif %}
    {% endif %}
</div>

