{% set oneyFactoryName = constant('PayPlug\\SyliusPayPlugPlugin\\Gateway\\OneyGatewayFactory::FACTORY_NAME') %}
{% set payplugFactoryName = constant('PayPlug\\SyliusPayPlugPlugin\\Gateway\\PayplugGatewayFactory::FACTORY_NAME') %}

{% set checkboxClass = '' %}
{% if method.gatewayConfig.factoryName == oneyFactoryName %}
    {% set checkboxClass = 'checkbox-oney' %}
{% elseif method.gatewayConfig.factoryName == payplugFactoryName %}
    {% set checkboxClass = 'checkbox-payplug' %}
{% endif %}

{% set showOney = false %}
{% set showPayplug = false %}

{% if method.gatewayConfig.factoryName == oneyFactoryName and form.parent.parent.oney_payment_choice is defined %}
    {% set showOney = true %}
{% elseif is_granted('ROLE_USER')
      and method.gatewayConfig.factoryName == payplugFactoryName
      and form.parent.parent.payplug_card_choice is defined
%}
    {% set showPayplug = true %}
{% endif %}

<div class="item payment-item" {{ sylius_test_html_attribute('payment-item') }}>
    <div class="field">
        <div class="ui radio checkbox {{ checkboxClass }}" {{ sylius_test_html_attribute('payment-method-checkbox') }}>
            {{ form_widget(form, sylius_test_form_attribute('payment-method-select')) }}
        </div>
    </div>
    <div class="content">
        <a class="header">
            {% if method.gatewayConfig.factoryName == oneyFactoryName %}
                <label for="{{ form.vars.id }}" data-test-payment-method-label="" data-gateway="oney">
                    <img src="{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/3x4x.svg') }}" alt="oney-logo"/>
                </label>
            {% elseif method.gatewayConfig.factoryName == payplugFactoryName %}
                {{ form_label(form, null, {'label_attr': {'data-test-payment-method-label': '', 'data-gateway': 'payplug'}}) }}
            {% else %}
                {{ form_label(form, null, {'label_attr': {'data-test-payment-method-label': ''}}) }}
            {% endif %}
        </a>
        {% if method.description is not null %}
            <div class="description">
                <p>{{ method.description }}</p>
            </div>
        {% endif %}
        {% if showOney %}
            <div class="oney-payment-choice payment-method-choice" data-payment-input-id="{{ form.vars.id }}">
                {{ form_row(form.parent.parent.oney_payment_choice) }}
            </div>
            {% if app.session is not null and app.session.get('oney_has_error') == true %}
                <script type="text/javascript">
                    /* <![CDATA[ */
                    var completeInfoRoute = '{{ path("payplug_sylius_oney_complete_info") }}';
                    /* ]] */
                </script>
            {% endif %}
        {% elseif showPayplug %}
            <div class="payplug-payment-choice payment-method-choice" data-payment-input-id="{{ form.vars.id }}">
                {% if is_save_card_enabled(method) %}
                    {{ form_row(form.parent.parent.payplug_card_choice) }}
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
